<section class="d-flex">
  <div class="modal-content mx-auto">
    <header class="modal-header">
      <h2 class="modal-title ">Passe a catraca, <%= token.user.nome.split(" ")[0] %> <%= token.user.nome.split(" ")[1] || "" %></h2>
    </header>
    <section class="modal-body">
      <div class="text-start pt-3">
        <h3 class="modal-subheading ">Modalidade: <span class="text-danger"><%= modalidade %></span> </h3>
        <h3 class="modal-subheading mb-3">Saldo Restante: R$<%= saldo %></h3>
        <h3 class="modal-subheading text-center">Saldo Gasto: R$<%= tarifa %></h3>
      </div>
    </section>
  </div>
</section>

<script>
  setTimeout(() => {
    location.href = document.referrer
  }, 3000);
</script>