<div class="container" id="paiadms">
  <form action="/" method="post">
    <div class="row">
      <div class="col-md-6">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" id="cpf" name="cpf" value="<%= cpf %>" placeholder="000.000.000-00" />
      </div>
      <div class="col-md-6">
        <label for="nascimento">Data de nascimento</label>
        <input type="date" class="form-control" id="nascimento" value="<%= nascimento.split("T")[0] %>" name="nascimento" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= nome %>" placeholder="Nome completo" />
      </div>
      <div class="col-md-6">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" name="username" value="<%= username %>" placeholder="Nome de usuário" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= email %>" placeholder="Endereço de e-mail" />
      </div>
      <div class="col-md-6">
        <label for="senha">Senha</label>
        <input type="password" class="form-control" id="senha" name="senha" placeholder="Senha" />
      </div>
    </div>

    <div class="mt-5 d-flex justify-content-between">
      <button type="button" class="btn btn btn-secondary ms-2" id="btnCancel" onclick="location.reload()" style="width: fit-content">
        Voltar
      </button>

      <div>
        <button type="button" class="btn btn btn-warning ms-auto" id="btnRESET" style="width: fit-content" onclick="document.querySelector('form').reset()">
          Resetar
        </button>
        <button type="submit" class="btn btn-primary" style="width: fit-content">
          Salvar
        </button>
      </div>
    </div>
  </form>
</div>

<script>
  const form = new Inputs("form")

  form.allvalidacao({
    ...validEdit,
    email: {
      ...validEdit.email,
      customEvento: [(async (value) => {

        if (value !== "<%= email%>" && (await axios.get("http://localhost:9000/api/user/cadastrar/?email=" + value)).data.resultado.email) {
          return "Esse email já está em uso"
        }
      })],
    }
  })
  form.neutralidadeON()

  document.addEventListener("submit", (evt) => {
    evt.preventDefault()

    try {
      const response = axios.put("http://localhost:9000/api/user/", form.allValues(), getCookie("tokenUser"))

      localStorage.setItem(
        "alert",
        JSON.stringify({
          cor: "warning",
          texto: `o seu Cadastro foi alterado`,
          div: "#alert",
        })
      );

      location.reload()
    } catch (error) {
      console.error(error);
    }
  })
</script>