<h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Cadastro/</span> Passageiro</h4>

<div id="alert">
  <script>
    alert("alert");
  </script>
</div>


<!-- meu  -->





<!-- modal -->
<div class="mt-3">
  <!-- Button trigger modal -->
  <%-include('../partials/modals/create/_formPassageiro.ejs') %>





</div>

<!-- fim meu  -->


<!-- / Content -->

<h4 class="fw-bold py-3 mb-4">
  <span class="text-muted fw-light">Passageiros atuais </span>
</h4>

<div class="card">
  <div class="table-responsive text-nowrap">
    <table id="example" class="table table-striped" style="width: 100%">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CPF</th>

          <th>Nascimento</th>
          <th>Cartões</th>
          <th>Recarga</th>
          <th>Config</th>
        </tr>
      </thead>
      <tbody>
        <% allPassageiros.forEach((elem)=> { %>

        <tr>
          <td>
            <%= elem.nome %>
          </td>
          <td>
            <%= elem.cpf %>
          </td>

          <td>
            <%= new Date(elem.nascimento).toLocaleDateString()%>
          </td>

          <td>
            <button class="btn btn-primary py-1 px-2" data-bs-target="#pontodeonibus<%= elem.id%>" onclick='modalCartao(<%-JSON.stringify(elem)%>)'>
               cartão
            </button>
          </td>
          <td>
            <button class="btn btn-success py-1 px-2" data-bs-target="#pontodeonibus<%= elem.id%>" onclick='modalRecarg(<%-JSON.stringify(elem)%>)'>
              Recarregar
            </button>
          </td>

          <td>
            <button type="button" class="btn btn-info py-1 px-2" onclick='modalInfo(<%-JSON.stringify(elem)%>)'>
              <i class="bi bi-info-lg"></i>
            </button>

            <button class="btn btn-warning py-1 px-2" onclick='modalEdit(<%-JSON.stringify(elem)%>)'>
              <i class="bi bi-pencil-square"></i>
            </button>

            <button class="btn btn-danger py-1 px-2" data-bs-target="#pontodeonibus<%= elem.id%>" onclick='modalDelet(<%-JSON.stringify(elem)%>)'>
              <i class="bi bi-trash-fill"></i>
            </button>

          </td>





        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</div>


<script>
  const modalCartao = criarFuncaoModal((objEjs) => {
    return `
    <!-- Modal -->
<div class="modal fade" id="cardModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cartões</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body row">
          <div class="col-6">


           <h6>cartões do cliente</h6>

            <!-- Lista de Cartões -->
            <ul class="list-group">
        
            </ul>
          </div>
          <div class="col-6 border-start">
            <!-- Formulário de Adição de Cartão -->
           <h6>adicionar cartões</h6>

            <div class="mb-3">
              <select class="form-select" id="cartao_id" name="cartao_id">
            
           
              </select>
            </div>
            <div class="mb-3">
              <input type="text" class="form-control" id="codigo_do_cartao" name="codigo_do_cartao" placeholder="Digite o código do cartão">
            </div>

          </div>
        </div>

        <div class="modal-footer d-flex justify-content-between">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            sair
          </button>
          <button type="submit" class="btn btn-primary">Adicionar Cartão ao cliente</button>
        </div>
      </form>
    </div>
  </div>
   `
  }, async (modal, objEjs) => {




    objEjs.cartoes_do_cliente.forEach((element, i) => {

      modal.querySelector("ul").innerHTML += ` <li class="list-group-item"> ${i+1}) tipo: ${element.tipos_de_cartao.modalidade}</li>`
    });

    try {
      const a = (await axios.get("http://localhost:9000/api/adm/card", getCookie()))
        .data.forEach(element => {

          modal.querySelector("select").innerHTML += ` <option value="${element.id}">  ${element.modalidade} </option>`
        });

    } catch (error) {
      console.error(error);
    }


    const form = new Inputs(modal.querySelector("form"))
    form.forms.addEventListener("submit", async (event) => {

      event.preventDefault()

      try {

        console.log(form.allValues());
        const response = await axios.patch(`http://localhost:9000/api/adm/passageiros/card/${objEjs.id}`, form.allValues(), getCookie())

        localStorage.setItem("alert", JSON.stringify({
          cor: "success",
          texto: `foi adicionado um novo cartão ao cliente do CPF ${objEjs.cpf} foi alterado`,
          div: "#alert",
        }))

        location.reload()

      } catch (error) {
        console.log(error);
      }


    })



  })
  // const modalRecarga
</script>