
<h4 class="fw-bold py-3 mb-2">
  <span class="text-muted fw-light">Linhas/</span> Ônibus atuais
</h4>
<div id="alert">
  <script>
    alert("alert");
  </script>
</div>

<div class="mt-3">
  <%-include('../partials/modals/create/_formsOnibus.ejs') %>



  <section class="mt-5">
    <h4 class="">Todos os pontos de onibus</h4>

    <div class="card">
      <div class="table-responsive text-nowrap">
        <table id="PontosDeOnibus" class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th>placa</th>
              <th>quantidade passageiros</th>
              <th>possui_acessibilidade</th>
              <th>estado atual</th>
            </tr>
          </thead>
          <tbody>
            <% onibusAll.forEach((elem)=> { %>

            <tr>
              <td><%= elem.placa %></td>
              <td><%= elem.quantidade_passageiros %></td>
              <td><%= elem.possui_acessibilidade %></td>
              <td><%= elem.estado_atual %></td>
              <td>
                <button type="button" class="btn btn-info py-1 px-2" onclick='modalInfo(<%-JSON.stringify(elem)%>)'>
                  <i class="bi bi-info-lg"></i>
                </button>

                <button class="btn btn-warning py-1 px-2" onclick='modalEdit(<%-JSON.stringify(elem)%>)'>
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button class="btn btn-danger py-1 px-2" onclick='modalDelet(<%-JSON.stringify(elem)%>)'>
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </section>


</div>