<h4 class="fw-bold py-3 mb-2">
  <span class="text-muted fw-light">Linhas/</span> Pontos atuais
</h4>

<div id="alert"></div>
<script>
  alert("stopBusCreate")
  alert("stopBusDelete")
</script>

<%- include('../partials/_formsPontoDeOnibus') %>


  <section class="mt-5 ">
    <h4 class="">Todos os pontos de onibus</h4>


    <div class="card">
      <div class="table-responsive text-nowrap">
        <table id="PontosDeOnibus" class="table  table-striped " style="width: 100%">
          <thead>
            <tr>
              <th>CEP</th>
              <th>Rua</th>
              <th>Bairro</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>

            <% pontos.forEach((elem)=> { %>
              <tr>
                <td>
                  <%= elem.cep %>
                </td>
                <td>
                  <%= elem.endereco.split(",")[0] %>
                </td>
                <td>
                  <%= elem.endereco.split(",")[1] %>
                </td>
                <td>


                  <button type="button" class="btn btn-info py-1 px-2" data-bs-toggle="modal"
                    data-bs-target="#modalCenter">
                    <i class="bi bi-info-lg"></i>
                  </button>



                  <!-- Modal -->
                  <div class="modal fade" id="modalCenter" tabindex="-1" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="modalCenterTitle">
                            <%= elem.endereco%>
                          </h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">
                          <div class="username d-flex">
                            <p class=" me-3 fw-bold">
                              CEP:
                            </p>
                            <p>
                              <%= elem.cep%>
                            </p>
                          </div>

                        </div>

                      </div>

                    </div>
                  </div>
      </div>
      <button class="btn btn-warning py-1 px-2" data-bs-target="#pontodeonibus<%= elem.id%>" data-bs-toggle="modal"
        data-bs-dismiss="modal" _msttexthash="350038" _msthash="310" _mstvisible="4">
        <i class="bi bi-pencil-square"></i>
      </button>



      <button class="btn btn-danger py-1 px-2" data-bs-target="#pontodeonibus<%= elem.id%>" data-bs-toggle="modal"
        data-bs-dismiss="modal" _msttexthash="350038" _msthash="310" _mstvisible="4"><i
          class="bi bi-trash-fill"></i></button>
      <div class="modal fade" id="pontodeonibus<%= elem.id%>" aria-labelledby="modalToggleLabel2" tabindex="-1"
        _mstvisible="0" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" _mstvisible="1">
          <div class="modal-content" _mstvisible="2">
            <div class="modal-header " _mstvisible="3">
              <h5 class="modal-title text-warning" id="modalToggleLabel2" _msttexthash="66105" _msthash="311"
                _mstvisible="4"> Alerta!!!
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar" _mstaria-label="59709"
                _msthash="312" _mstvisible="4"></button>
            </div>
            <div class="modal-body" _msttexthash="1998048" _msthash="313" _mstvisible="3"> <span> Tem
                certeza que desja excluir este Motorista?</span> </div>
            <div class="modal-footer" _mstvisible="3">
              <button class="btn btn-warning" data-bs-dismiss="modal" _msttexthash="324714" _msthash="314"
                _mstvisible="4">Não, voltar as
                alterações</button>
              <button type="click" class="btn btn-danger" id="deletePontoId<%= elem.id%>">Sim,
                Deletar</button>
              <script>
                const modaldeleteID<%=elem.id %> = document.querySelector("#pontodeonibus<%= elem.id%>")

                modaldeleteID <%= elem.id %>.querySelector("#deletePontoId<%= elem.id%>").addEventListener("click", async () => {

                  try {
                    const deletado = await axios.delete("http://localhost:9000/api/linhas/bus-stop/<%= elem.id%>")

                    localStorage.setItem("stopBusDelete", JSON.stringify({
                      cor: "danger",
                      texto: deletado.data.message,
                      div: "#alert",
                    }))

                    location.reload()
                  } catch (error) {
                    console.error(error)
                  }


                })
              </script>
            </div>
          </div>
        </div>
      </div>
      </td>
      </tr>
      <% }) %>

        </tbody>
        </table>
    </div>
    </div>


    <!-- <script>
    document.addEventListener("DOMContentLoaded", () => {
          new DataTable('#PontosDeOnibus', {
              language: {
                url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
              }})
          })
  </script> -->
  </section>