<h4 class="fw-bold py-3 mb-2">
  <span class="text-muted fw-light">Linhas/</span> Pontos atuais
</h4>

<div id="alert"></div>
<script>
  alert("stopBusCreate");
  alert("stopBusEdit");
  alert("stopBusDelete");
</script>

<%-include("../partials/modals/create/_formsPontoDeOnibus.ejs") %>

<section class="mt-5">
  <h4 class="">Todos os pontos de onibus</h4>

  <div class="card">
    <div class="table-responsive text-nowrap">
      <table id="PontosDeOnibus" class="table table-striped" style="width: 100%">
        <thead>
          <tr>
            <th>CEP</th>
            <th>Rua</th>
            <th>bairro</th>
            <th>Opções</th>
          </tr>
        </thead>
        <tbody>
          <% pontos.forEach((elem)=> { %>

          <tr>
            <td><%= elem.cep %></td>
            <td><%= elem.endereco.split(",")[0] %></td>
            <td><%= elem.endereco.split(",")[1] %></td>
            <td>
              <button type="button" class="btn btn-info py-1 px-2" onclick='modalInfo(<%-JSON.stringify(elem)%>)'>
                <i class="bi bi-info-lg"></i>
              </button>

              <button class="btn btn-warning py-1 px-2" onclick='modalEdit(<%-JSON.stringify(elem)%>)'>
                <i class="bi bi-pencil-square"></i>
              </button>

              <button class="btn btn-danger py-1 px-2" data-bs-target="#pontodeonibus<%= elem.id%>" onclick='modalDelet(<%-JSON.stringify(elem)%>)'>
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- chamando o js do boostrap antes de criar a instancia -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  const modalDelet = criarFuncaoModal(
    (objEjs) => `<%- include('../partials/modals/delete/_pontoDeOnibus.ejs') %>`,
    (modal, objEjs) => {
      const btnDelet = modal.querySelector("#deletePontoId");

      btnDelet.addEventListener("click", async () => {
        try {
          const deletado = await axios.delete(
            `http://localhost:9000/api/linhas/bus-stop/${objEjs.id}`, getCookie()
          );

          localStorage.setItem(
            "stopBusDelete",
            JSON.stringify({
              cor: "danger",
              texto: deletado.data.message,
              div: "#alert",
            })
          );

          location.reload();
        } catch (error) {

          if (error.response ) {
            localStorage.setItem(
              "stopBusDelete",
              JSON.stringify({
                cor: "danger",
                texto: "Não foi possivel deletar esse ponto. ele está sendo utilizado em uma linha",
                div: "#alert",
              })
            );
            location.reload()
          }


          console.error(error);
        }
      });
    }

  )

  const modalEdit = criarFuncaoModal(
    (objEjs) => `<%- include("../partials/modals/edit/_pontoDeOnibus.ejs") %>`,
    (modal, objEjs) => {
      formsValidacaoEdit = new Inputs(modal.querySelector("form")); // pega todos os inputs do form

      const btnSalvarAlteracoes = modal.querySelector("#btnSalvarAlteracoes");

      formsValidacaoEdit.allvalidacao(validEdit);
      formsValidacaoEdit.neutralidadeON()

      formsValidacaoEdit.forms.addEventListener("submit", async (event) => {
        event.preventDefault();

        try {
          const valorEdit = formsValidacaoEdit.allValues();
          valorEdit.id = objEjs.id;

          const {
            data
          } = await axios.get(
            `https://brasilapi.com.br/api/cep/v2/${valorEdit.cepInput}`
          );

          valorEdit.lat = data.location.coordinates.latitude;
          valorEdit.lng = data.location.coordinates.longitude;

          const response = await axios.put(
            `http://localhost:9000/api/linhas/bus-stop`, valorEdit,
            getCookie()
          );

          localStorage.setItem(
            "stopBusEdit",
            JSON.stringify({
              cor: "success",
              texto: `O ponto do cep ${objEjs.cep} foi alterado para o cep ${valorEdit.cepInput} com sucesso`,
              div: "#alert",
            })
          );

          location.reload();
        } catch (error) {
          console.log(error);
        }
      });
    }
  )


  const modalInfo = criarFuncaoModal((objEjs) => `<%- include("../partials/modals/info/_pontoDeOnibus.ejs") %>`)


  
</script>