<h4 class="fw-bold py-3 mb-2">
  <span class="text-muted fw-light">Linhas/</span> Ônibus atuais
</h4>
<div id="alert">
  <script>
    alert("alert");
  </script>
</div>

<div class="mt-3">
  <%-include('../partials/modals/create/_formsOnibus.ejs') %>



  <section class="mt-5">
    <h4 class="">Todos os onibuss de onibus</h4>

    <div class="card">
      <div class="table-responsive text-nowrap">
        <table id="onibussDeOnibus" class="table table-striped" style="width: 100%">
          <thead>
            <tr>
              <th>ID</th>
              <th>placa</th>
              <th>quantidade passageiros</th>
              <th>possui_acessibilidade</th>
              <th>estado atual</th>
              <th>Opções</th>
            </tr>
          </thead>
          <tbody>
            <% onibusAll.forEach((elem)=> { %>

            <tr>
              <td><%= elem.id %></td>
              <td><%= elem.placa %></td>
              <td><%= elem.quantidade_passageiros %></td>
              <td><%= elem.possui_acessibilidade %></td>
              <td><%= elem.estado_atual %></td>
              <td>

                <button class="btn btn-warning py-1 px-2" onclick='modalEdit(<%-JSON.stringify(elem)%>)'>
                  <i class="bi bi-pencil-square"></i>
                </button>

                <button class="btn btn-danger py-1 px-2" onclick='modalDelet(<%-JSON.stringify(elem)%>)'>
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </section>


</div>

<script>
  const modalInfo = criarFuncaoModal((objEjs) => `<%- include("../partials/modals/info/_onibusDeOnibus.ejs") %>`)

  const modalDelet = criarFuncaoModal(
    (objEjs) => `<%- include('../partials/modals/delete/_onibusDeOnibus.ejs') %>`,
    (modal, objEjs) => {
      const btnDelet = modal.querySelector("#deleteonibusId");

      btnDelet.addEventListener("click", async () => {
        try {
          const deletado = await axios.delete(
            `http://localhost:9000/api/linhas/bus-stop/${objEjs.id}`, getCookie()
          );

          localStorage.setItem(
            "alert",
            JSON.stringify({
              cor: "danger",
              texto: deletado.data.message,
              div: "#alert",
            })
          );

          location.reload();
        } catch (error) {

          if (error.response) {
            localStorage.setItem(
              "alert",
              JSON.stringify({
                cor: "danger",
                texto: "Não foi possivel deletar esse onibus. ele está sendo utilizado em uma linha",
                div: "#alert",
              })
            );
            location.reload()
          }
          console.error(error);
        }
      });
    }

  )
</script>